# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
.RData
*.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
# downloaded data
*.zip
# generatet datasets
*.txt
UCI HAR Dataset